.questionInfo {
  padding:.30rem;
  font-size:.36rem;
  margin-bottom:0;
  background-color:#fff;
  letter-spacing:2px;
}
.questionInfo :global .info-text {
  line-height: 1.5;
}
.questionInfo :global .answer-count {
  font-size:.24rem;
  color:#cecece;
  overflow:hidden;
  padding-top:.10rem;
}
.answerTitle {
  width:100vw;
  padding-left:.20rem;
  padding-right:.20rem;
  margin: .2rem 0;
  font-size:.32rem;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
}
.answerList {
  width:100vw;
  padding:0 .16rem 1rem .16rem;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
}
.answerList :global .answer-item {
  background-color:#fff;
  padding:.2rem;
  margin-top: .2rem;
}
.answerList :global .answer-item:first-of-type {
  margin-top: 0;
}
.answerList :global .tip-container {
  padding-top:.02rem;
  padding-bottom:.02rem;
  min-height:.32rem;
  background-color:#fff;
}
.answerList :global .tip-text {
  height:.32rem;
  font-size:.24rem;
  line-height:.32rem;
  color:#cecece;
}
.answerList :global .answer-info {
  line-height: 1.5;
  font-weight:400;
  font-size:.34rem;
  word-wrap:break-word;
  word-break:break-all;
}
.answerList :global .extra-info {
  position: relative;
  margin-top:.30rem;
  padding-bottom:.1rem;
  font-size:.26rem;
  color:#cecece;
  line-height:1em;
  list-style:none;
  min-height: .26rem;
}
.answerList :global .create-time {
  float:left;
  padding-right:1em;
}
.answerList :global .other-info {
  float:left;
  padding-left:1em;
  border-left:1px solid #cecece;
}
.answerList :global .operate-shade {
  position:fixed;
  display:none;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
  z-index:2;
}
.answerList :global .operate-container {
  position:absolute;
  bottom:-0.20rem;
  right:.6rem;
  width:3.8rem;
  height:.78rem;
  overflow:hidden;
}

.answerList :global .comment-img {
  position:absolute;
  right:-0.36rem;
  bottom:-0.10rem;
  padding:.20rem;
  padding-right:.46rem;
  width:.366rem;
  height:.27rem;
}
.answerList :global .operate {
  list-style:none;
  margin: 0;
  padding: 0;
  position:absolute;
  bottom:0;
  left:4rem;
  width:3.80rem;
  height:.78rem;
  line-height:.78rem;
  z-index:3;
  font-size:.24rem;
  background-color:rgba(76,81,82,1);
  border-radius:.06rem;
  text-align:center;
  transition:left 0.2s linear;
  -moz-transition:left 0.2s linear;
  -webkit-transition:left 0.2s linear;
  -o-transition:left 0.2s linear;
}
.answerList :global .operate-active {
  left: 0;
}

.answerList :global .operate .agree {
  list-style:none;
  margin: 0;
  padding: 0;
  position:relative;
  float:left;
  width:49%;
  border-right:1px solid rgba(71,79,78,1);
  height:.78rem;
  color:#fff;
}
.answerList :global .operate .comment {
  list-style:none;
  margin: 0;
  padding: 0;
  position:relative;
  float:left;
  width:50%;
  height:.78rem;
  color:#fff;
}
.answerList :global .agree .center-box,
.answerList :global .comment .center-box {
  width: 2em;
  position: absolute;
  padding-left: .6rem;
  left: 50%;
  border-radius: .02rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.answerList :global .agree .center-box {
  width: 1em;
}
.answerList :global .center-box img{
  position:absolute;
  top: 50%;
  left: 0;
  width: .4rem;
  height: .4rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.answerList :global .agree-list {
  position: relative;
  border-bottom:1px solid #e1e2e3;
  padding-left:.46rem;
  background-color:#f3f3f5;
  color:#546892;
  font-size:.24rem;
  line-height: 1.5;
}
.answerList :global .agree-list img {
  position: absolute;
  top: .02rem;
  left: .1rem;
  width: .3rem;
  height: .3rem;
}
.answerList :global .comment-list {
  background-color:#f3f3f5;
}
.answerList :global .comment-list .comment-item{
  font-size:.26rem;
  color:#676767;
  padding:.08rem;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
}
.answerList :global .comment-item .empty{
  display: none;
}
.answerList :global .comment-item .nomal{
  padding-left:.10rem;
  padding-right:.10rem;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 1rem;
  background-color: #fff;
}
.footer :global .to-home,
.footer :global .to-reply {
  position: relative;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.footer :global .icon {
  position: absolute;
  height: 100%;
  left: 50%;
  padding-top: .6rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.footer :global .icon img {
  position: absolute;
  top: .1rem;
  left:50%;
  width: .44rem;
  height: .44rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.footer :global .icon p {
  margin: 0;
  padding: 0;
  font-size: .26rem;
  color:#80848f;
}